.hero {
    position: relative;
    height: 100vh;
    margin: 0 3rem;
    background-color: var(--secondary-bg-color);
    overflow: hidden;
}

.textField {
    position: absolute;
    top: 25%;
    left: 50%;
    /* background-color: var(--secondary-bg-color); */
    width: 30rem;
    padding: 0.5rem;
    text-align: center;
    transform: translateX(-50%);
}

.textField h2 {
    margin-bottom: 0.75rem;
}

.textField p {
    margin-bottom: 2rem;
}

.bgImg {
    position: absolute;
    left: 70%;
    top: 20%;
    max-width: 400px;
    width: 40%;
}

.twoItemDisplay {
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
}